/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */

body {
  @apply font-sans antialiased text-black bg-off-white selection:bg-black selection:text-off-white;
}

.bg-purple {
  @apply selection:text-purple;
}

.cover-image {
  img {
    @apply object-cover object-center;
  }
}

.cover-image--top-mobile {
  img {
    object-position: 0 25%;

    @screen md {
      @apply object-center;
    }
  }
}

a, button {
  @apply focus-visible:border-0 focus-visible:outline-none focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-black;
}



.radial {
  @apply blur-3xl;
  background: radial-gradient(#FFFFFF, rgba(255,255,255,0));
}

.radial--purple {
  @apply blur-3xl;
  background: radial-gradient(#965578, rgba(150, 85, 120, 0));
}

.break-hyphens {
  word-wrap: break-word;
  overflow-wrap: break-word;

-webkit-hyphens: auto;
  -moz-hyphens: auto;
        hyphens: auto;
}

@screen md {
  .break-hyphens {
    word-wrap: normal;
    overflow-wrap: normal;

  -webkit-hyphens: none;
    -moz-hyphens: none;
          hyphens: none;
 }
}

.marquee {
  @apply items-start !important;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 80%;

  @screen md {
    flex: 0 0 60%;
  }

  @screen lg {
    flex: 0 0 55%;
  }

  @screen xl {
    flex: 0 0 40%;
  }

  @apply mr-5 md:mr-6;

  &.is-selected {
    .embla__slide--inner {
      
    }
  }
}

.embla--quotes {
  .embla__slide {
    flex: 0 0 90%;
  
    @screen md {
      flex: 0 0 80%;
    }
  
    @screen lg {
      flex: 0 0 80%;
    }
  
    @screen xl {
      flex: 0 0 80%;
    }
  
    @apply mr-0 md:mr-0;
  
    &.is-selected {
      .embla__slide--inner {
        @apply bg-none;
      }
    }
  } 
}

.ReactModal__Overlay {
  @apply z-[10000] bg-black bg-opacity-[0.85] !important;
}

.ReactModal__Content {
  @apply inset-y-[1vw] md:inset-y-[2.5vw] lg:inset-y-[5vw] inset-x-[5vw] md:inset-x-[10vw] lg:inset-x-[15vw] p-0 border-0 rounded-none max-h-[90vh] md:max-h-[780px] md:max-w-[1300px] m-auto overflow-hidden !important;
}

.modal--inner::-webkit-scrollbar {
    display: none;
}

.modal--inner {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mobile-menu::-webkit-scrollbar {
  display: none;
}

.mobile-menu {
-ms-overflow-style: none;
scrollbar-width: none;
}

.react-select__control {
  @apply border border-black bg-black rounded-full text-white pl-5 pr-3 py-3 cursor-pointer relative overflow-hidden !important;
  box-shadow: none !important;

  
  &:after {
    content: ' ';
    @apply hidden md:block absolute w-0 left-0 right-0 bottom-0 h-full bg-white md:group-hover:w-full transition-all ease-in-out duration-[450ms] z-0;
  }

  &:hover {
    .react-select__single-value, .react-select__input-container, .react-select__value-container, .react-select__placeholder, .react-select__indicator {
      @apply md:text-black !important;
    }

    &:after {
      @apply md:w-full;
    }
  }
}

.react-select__control--is-focused {
  @apply outline-none text-black !important;
  box-shadow: none !important;

  &:after {
    @apply md:w-full;
  }
  .react-select__single-value, .react-select__input-container, .react-select__value-container, .react-select__placeholder, .react-select__indicator {
    @apply md:text-black !important;
  }
}

.react-select__control--menu-is-open {
  @apply outline-none text-black !important;
  box-shadow: none !important; 
  
  &:after {
    @apply md:w-full;
  }
  .react-select__single-value, .react-select__input-container, .react-select__value-container, .react-select__placeholder, .react-select__indicator {
    @apply md:text-black !important;
  }
}

.react-select__single-value, .react-select__input-container, .react-select__value-container, .react-select__placeholder {
  @apply text-white opacity-100 relative z-10 transition-colors ease-in-out duration-[450ms] !important;
}

.react-select__indicator {
  @apply opacity-100 hover:opacity-100 focus:opacity-100 text-white ml-0 pl-2 md:pl-5 relative z-10 !important;
}

.react-select__indicator-separator {
  @apply hidden !important;
}

.react-select__menu {
  @apply bg-white border-black border rounded-3xl py-0 overflow-hidden mt-2 md:mt-7 min-w-full md:min-w-[300px] !important;
}

.react-select__menu-list {
  @apply py-0 my-0 !important;
}

.react-select__option {
  @apply border-b border-black bg-white py-4 px-5 cursor-pointer !important;

  &:last-child {
    @apply border-b-0 !important;
  }
}

.react-select__option--is-focused {
  @apply bg-off-white text-black !important;
}

.react-select__option--is-selected {
  @apply bg-black text-white !important;
}